body {
	background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQD80fuHcLYuh71yjuHOKuf50_PjRddbZJ4Il4craKXeCixjzVY);
	background-repeat: repeat;
}
#container {
	margin: auto;
	display: inline-grid;
	grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
}
.box {
	position: relative;
	font-size: 0px;
	width: 5vw;
	height: 8vh;
	background-color: white;
	border: 1px solid black;
}
.hidden {
	position: relative;
	width: 5vw;
	height: 8vh;
}
.section1 {background-color: #00ff00;}
.section2 {background-color: #9ED3FB;}
.section3 {background-color: orange;}
.section4 {background-color: #FFFE83;}
.section5 {background-color: #DEC8C8;}
.section6 {background-color: #AE98F8;}
.section7 {background-color: #5EA848;}
.section8 {background-color: #8E98A8;}
.num {
	position: absolute;
   	top: 0px;
   	right: 0px;
	padding: 1px;
	text-align: right;
	font-size: 1.5vmin;
}
.name {
	position: absolute;
	left: 0;
	top: 35%;
	width: 100%;
	text-align: center;
	padding: 1px;
	font-size: 2vmin;
}
.weight {
	position: absolute;
   	bottom: 0px;
   	left: 0px;
	padding: 1px;
	font-size: 1.5vmin;
}
